<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")
    //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]

  body
    div.calculator
      div.calculator__frame
        div.calculator__result-display
          ul.calculator__grid
            li.calculator__item.clearfix
              p#term-one &nbsp;
            li.calculator__item.clearfix
              p#term-two &nbsp;
            li.calculator__item.clearfix
              p#term-result &nbsp;
          div.display-line
          div.display-scroll
            div.display-scroll-top#scroll-top
            div.display-scroll-bottom#scroll-bottom
        div.calculator__input-display.clearfix
          p#input-display 0
        div.calculator__keypad
          div.keypad__digits
            button.key.key-digit#key-7 7
            button.key.key-digit#key-8 8
            button.key.key-digit#key-9 9
            button.key.key-digit#key-4 4
            button.key.key-digit#key-5 5
            button.key.key-digit#key-6 6
            button.key.key-digit#key-1 1
            button.key.key-digit#key-2 2
            button.key.key-digit#key-3 3
            button.key.key-digit#key-0 0
            button.key#key-dot .
          div.keypad__process-keys
            div.keypad__functions
              button.key.key-functions#key-sign +/-
              button.key.key-functions#key-clr CLR
              button.key.key-functions#key-result =
            div.keypad__operators
              button.key.key-operators#key-divide ÷
              button.key.key-operators#key-multiply *
              button.key.key-operators#key-subtract -
              button.key.key-operators#key-add +
    footer.footer
      p.footer__credit <span>© 2017 ErreC </span>• All Rights Reserved

  script(src="js/bundle.min.js")
