.calculator
  color: white
  background-color: black

.calculator__frame
  border: white double
  border-width: 5px
  margin: 6px 2px
  width: 300px
  height: 280px

.clearfix:after
   content: "."
   visibility: hidden
   display: block
   height: 0
   clear: both


.calculator__result-display
  margin: 8px 8px 0 8px
  padding-left: 160px
  color: black
  background-color: #afa8af

.calculator__input-display
  border-top: solid 1px white
  padding: 6px 2px
  border-bottom: solid 1px white
  margin: 8px 4px
  p
    float: right

.calculator__keypad
  background-color: #505750

button
  border: none

.keypad__digits
  button
    background-color: #0000af
    color: #ffff50

.keypad__process-keys
  button
    background-color: #00a800
    color: #50ffff
