.calculator
  color: white
  width: 300px
  height: 280px
  background-color: black

.calculator__result-display
  color: black
  background-color: #afa8af

.keypad__digits
  button
    background-color: #0000af
    color: #ffff50

.keypad__process-keys
  button
    background-color: #00a800
    color: #50ffff
