.clearfix:after
   content: ""
   visibility: hidden
   display: block
   height: 0
   clear: both

.calculator
  font-family: MorePerfectDOSVGA
  position: absolute
  font-size: 0.85rem
  color: white
  background-color: black
  box-shadow: 15px 15px 0px 0px rgba(70,70,70,0.75)

.calculator__frame
  border: white double
  border-width: 5px
  margin: 6px 2px
  width: 300px
  height: 290px

.calculator__result-display
  font-size: 1rem
  margin: 8px 8px 0 8px
  padding-bottom: 16px
  padding-left: 180px
  color: transparent
  background-color: #afa8af

.display-line
  visibility: hidden
  position: relative
  height: 1px
  width: 260px
  background-color: black
  top: 6px
  margin-left: -180px

.calculator__input-display
  font-size: 1rem
  border-top: solid 1px white
  padding: 6px 2px
  border-bottom: solid 1px white
  margin: 8px 4px
  p
    float: right
    font-weight: bold
    &:after
      content: '_'
      animation: 1s blink step-end infinite

.calculator__keypad
  display: flex
  margin: 8px 8px 0 8px
  background-color: #505750
  padding: 16px 8px 4px 8px

.key
  font-size: 1rem
  font-family: MorePerfectDOSVGA
  border: none
  margin-top: 0
  margin-right: 21px
  margin-bottom: 14px
  margin-top: 0
  width: 30px
  height: 18px
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1)
  text-align: center
  position: relative
  outline: none

.keypad__digits
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  button
    background-color: #0000af
    color: #ffff50

.key-0
  flex: 1

.keypad__process-keys
  display: flex
  button
    background-color: #00a800
    color: #50ffff

.keypad__operators
  display: flex
  flex-wrap: wrap
  flex-direction: column

.keypad__functions
  display: flex
  flex-wrap: wrap
  flex-direction: column

.key-result
  flex: 2
.key-clr, .key-sign
  padding: 0

@keyframes "blink"
  from, to
    color: transparent
  50%
    color: white
