@import 'modules/normalize.scss'
@import 'modules/reset.scss'
@import 'calculator.sass'

@font-face
  font-family: 'MorePerfectDOSVGA'
  src: url(../font/MorePerfectDOSVGA.ttf)

html
  height: 100%

body
  height: 100%
  background: url(../img/bgpattern.jpeg) repeat
  display: flex
  align-items: center
  justify-content: center

p
  margin: 0
  padding: 0
